{block content}

<div id="middlepart">
<div class="psite">Nacházíte se: <a href="{$basePath}">Domů</a>
<s class="noact">&gt; Nabídka práce</s></div>
<div class="texts"><h1>Nabídka práce</h1>
<h2>Aktuální nabídka volných pracovních míst</h2>
<p>Děkujeme za Váš zájem pracovat u nás, ale v současné době nejsou žádná volná pracovní místa.</p></div>
</div>

{/block}