{block content}

<div id="middlepart">
<div class="psite">Nacházíte se: <a href="{$basePath}">Domů</a>
<s class="noact">&gt; Přidání nové kategorie</s></div>

<div class="texts"><h1>Přidání nové kategorie</h1>

<p><br />
{$categoryName}

{form categoryForm}

{label name /} {input name}&nbsp;&nbsp;&nbsp;{input submit}

{/form}

</p>

</div>
</div>

{/block}