{block content}

<div id="middlepart">
<div class="psite">Nacházíte se: <a href="{$basePath}">Domů</a>
<s class="noact">&gt; Přidání nového produktu</s></div>

<div class="texts"><h1>Přidání nového produktu</h1>

<p>
<form>
-- tady bude form --
</form>
</p>

</div>
</div>


{/block}